/* Navigation Bar */

/* Responsive Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    position: absolute;
    top: 70px;
    right: 0px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    /* transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out; */
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
/* Navigation Bar closes */

/* Home */
/* >800px */
@media screen and (max-width: 1000px) {
  .home-content {
    width: 100%;
  }
  .sub-header {
    width: 50%;
    font-size: 30px;
  }
  .home-content p {
    font-size: 18px;
  }
}

/* >500px */
@media screen and (max-width: 500px) {
  .home-header {
    font-size: 50px;
  }

  .sub-header {
    width: 60%;
    font-size: 20px;
  }

  .home-content p {
    width: 100%;
    font-size: 15px;
  }
}

/* >400px */
@media screen and (max-width: 400px) {
  .home-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .home-header {
    font-size: 40px;
  }

  .sub-header {
    width: 100%;
    font-size: 20px;
  }

  .home-content p {
    font-size: 12px;
  }
}
/* Home closes */

/* Review */
/* >400px */
@media screen and (max-width: 400px) {
  .review {
    padding: 0px 20px;
  }

  .review h2 {
    font-size: 25px;
  }

  .review p {
    font-size: 12px;
  }
}

/* >500px */
@media screen and (max-width: 600px) {
  .review {
    padding: 0px 30px;
  }

  .review h2 {
    font-size: 25px;
  }

  .review p {
    font-size: 15px;
  }
}
/* Review closes */

/* Cloud */
/* >1100px */
@media screen and (max-width: 1100px) {
  .cloud {
    justify-content: space-between;
  }

  .cloud-left {
    width: 100%;
  }
  .flex {
    width: 25%;
  }
}

/* >800px */
@media screen and (max-width: 800px) {
  .cloud-left h2 {
    font-size: 45px;
  }

  .cloud-left p {
    font-size: 15px;
  }

  .flex {
    width: 30%;
  }
}

/* >500px */
@media screen and (max-width: 500px) {
  .cloud {
    min-height: 70vh;
    flex-direction: column;
    padding: 0;
  }

  .cloud-left {
    width: 100%;
    height: 100%;
  }

  .cloud-left p {
    font-size: 13px;
  }

  .flex {
    width: 50%;
  }
}

/* Cloud closes */

/* Why-us */
/* >800px */
@media screen and (max-width: 800px) {
  .why-us {
    height: 85vh;
  }

  .why-us-content {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
  .why-us-box {
    width: 35%;
    height: 50%;
  }
}

/* >500px */
@media screen and (max-width: 500px) {
  .why-us {
    padding: 0;
    height: 100vh;
  }

  .why-us-content {
    flex-direction: column;
  }

  .why-us h1 {
    font-size: 28px;
  }

  .why-us-box {
    height: 20%;
    width: 100%;
  }

  .why-us-box h2 {
    font-size: 15px;
  }

  .why-us-box p {
    font-size: 12px;
  }
}

/* why-us closes */

/* Technology Partners */
/* >500px */
@media screen and (max-width: 500px) {
  .tech-partners h2 {
    font-size: 30px;
  }
  .tech-partners p {
    font-size: 14px;
  }
}

/* >400px */
@media screen and (max-width: 400px) {
  .tech-partners h2 {
    font-size: 20px;
  }
}
/* Technology Partners closes */

/* Ai-capabilities */
/* >800px */
@media screen and (max-width: 800px) {
  .ai-section {
    flex-direction: row-reverse;
  }

  .ai-cap-left {
    width: 40%;
    padding: 10px;
  }

  .ai-cap-left h2 {
    font-size: 35px;
  }

  .ai-cap-left p {
    font-size: 13px;
    line-height: normal;
  }

  .ai-cap-right {
    width: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .ai-cap-box {
    padding: 10px;
    width: 40%;
    height: 30%;
  }

  .ai-cap-box h2 {
    font-size: 15px;
    text-align: center;
  }

  .sub-box {
    height: 50%;
    padding: 10px;
    font-size: 10px;
  }
}

/* >500px */
@media screen and (max-width: 500px) {
  .ai-section {
    /* height: 100vh; */
    flex-direction: column;
    padding: 0;
    justify-content: unset;
  }

  .ai-cap-left {
    width: 100%;
    height: 40%;
  }

  .ai-cap-right {
    width: 100%;
    height: 50%;
    padding: 20px;
  }

  .ai-cap-box {
    width: 40%;
    height: 50%;
  }
}

/* Ai-capabilities closes*/

/* About Page */
/* >1100px */
@media screen and (max-width: 1100px) {
  .abt-box-1,
  .abt-box-5 {
    width: 80%;
  }
}

/* >800px */
@media screen and (max-width: 800px) {
  .abt-header {
    padding: 0;
    gap: 20px;
    justify-content: space-between;
  }

  .abt-hero {
    padding: 20px;
    width: 40%;
    padding: 30px;
  }
}

/* >500px */
@media screen and (max-width: 500px) {
  .abt-box,
  .abt-hero {
    display: none;
  }

  .abt-video {
    display: inline;
  }

  .abt-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--Txt-1);
  }

  .abt-content h2 {
    font-size: 30px;
  }

  .abt-content p {
    font-size: 20px;
    text-align: center;
  }

  .abt-content h1 {
    font-size: 50px;
    color: lightskyblue;
  }
}

/* About Customer */
/* >1000px */
@media screen and (max-width: 1000px) {
  .abt-customer-header {
    width: 40%;
    height: 35%;
  }

  .abt-customer-header h2 {
    font-size: 60px;
  }

  .f-q {
    height: 40%;
    width: 30%;
  }

  .f-q p {
    font-size: 15px;
  }
}

/* >500px */
@media screen and (max-width: 500px) {
  .abt-customer {
    min-height: 100vh;
    margin: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .abt-customer-header {
    height: 40%;
    width: 100%;
  }

  .f-q {
    /* padding: 10px; */
    width: 300px;
    height: 200px;
  }

  .f-q p {
    font-size: 12px;
  }

  .f-q footer h2 {
    font-size: 20px;
  }
}

/* About customer closes */

/* Section 2 */
@media screen and (max-width: 800px) {
  .abt-section-box {
    width: 20%;
  }

  .abt-section-2 h2 {
    font-size: 18px;
  }
}

/* >500px */
@media screen and (max-width: 500px) {
  .abt-section-2 {
    height: 80vh;
  }
  .abt-section-2 section {
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .abt-section-box {
    /* justify-content: center; */
    /* align-items: center; */
    width: 40%;
    height: 45%;
  }

  .abt-section-2 h3 {
    font-size: 15px;
  }

  .abt-section-2 h2 {
    font-size: 15px;
  }

  .abt-section-2 p {
    font-size: 10px;
  }
}

/* >400px */
@media screen and (max-width: 400px) {
  .abt-section-2 h1 {
    text-align: center;
  }
  .abt-section-box {
    /* justify-content: center; */
    /* align-items: center; */
    width: 40%;
    height: 45%;
  }

  .abt-section-2 h3 {
    font-size: 15px;
  }

  .abt-section-2 h2 {
    font-size: 10px;
  }

  .abt-section-2 p {
    font-size: 8px;
  }
}

/* Section 2 closes */

/* Section 3 */
/* >800px */
@media screen and (max-width: 800px) {
  .abt-section-3 p {
    font-size: 18px;
  }
}

/* >500px */
@media screen and (max-width: 500px) {
  .abt-section-3 {
    gap: 20px;
    padding: 0px 10px;
  }

  .abt-section-3 h2 {
    text-align: center;
    font-size: 20px;
  }

  .abt-section-3 p {
    font-size: 15px;
    text-align: center;
  }
}

/* Section 3 closes */

/* About Page closes */

/* Contact Page */
/* 800px */
@media screen and (max-width: 800px) {
  .contact {
    padding: 20px;
  }

  .contact_left-1,
  .contact_left-2 {
    width: 40%;
  }

  .contact section {
    width: 100%;
  }

  .contact p {
    font-size: 12px;
  }
}

/* Contact Page */
/* >500px */
@media screen and (max-width: 500px) {
  .contact {
    background: url(.//Assets/mobile-contact-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 0px;
  }

  .contact_left {
    display: none;
  }

  .contact_right {
    width: 100%;
  }

  .contact section {
    width: 100%;
  }

  .contact p {
    font-size: 15px;
  }

  .contact input,
  textarea {
    width: 100%;
  }
}
/* Contact page closes */

/* Footer */

/*  Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }
  .cta-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

/* >500px  */
@media (max-width: 500px) and (min-width: 300px) {
  /* Top banner section */
  .footer-top {
    padding: 10px;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .cta-text h2 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .cta-text ul {
    padding-left: 0;
    font-size: 13px;
  }

  .cta-buttons {
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  .btn {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  /* Footer grid layout becomes stacked */
  .footer-content {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
  }

  .footer-col h4 {
    font-size: 15px;
    margin-bottom: 8px;
  }

  .footer-col ul li a {
    font-size: 13px;
  }

  /* Footer bottom section */
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
    text-align: center;
  }

  .footer-links {
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Footer closes */
